body{
background-color:lightgray;
place-items:center;
display:grid;
margin-top:75px;
}

.box{
height:470px;
width:300px;
background-color:white;
padding:10px;
border-radius:15px;
}

img{
border-radius:15px;
height:300px;
width:300px;
}

h3{
text-align:center;
}

p{
margin:15px;
color:gray;
text-align:center;
}